:host{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #f5f7fa;
  border: 1px solid #cbd0dd;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  height: calc(100vh - 4rem);
  font-family: "Nunito Sans", sans-serif;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    height: calc(100vh - 2rem);
  }
}

app-profile-header{
  border: 1px solid #cbd0dd;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

