<picture>
  <ng-container *ngIf="currentUser.userPhotoUrl !==''">
    <img [src]="currentUser.userPhotoUrl" [alt]="currentUser.userName">
  </ng-container>
  <ng-container *ngIf="currentUser.userPhotoUrl ==''">
    <img [src]="'./assets/image/avtar.jpeg'" [alt]="currentUser.userName">
  </ng-container>
</picture>
<div>
  <h1><span>Name:</span> {{currentUser.userName ? currentUser.userName: 'Unknown'}}</h1>
  <h5><span>User Id:</span> {{currentUser.userId}}</h5>
  <h5><span>Email:</span> {{currentUser.userEmail}}</h5>
</div>
