<div class="setting" *ngIf="loggedInUser">
  <button class="setting__toggle" (click)="showSetting()">
    <ng-container *ngIf="loggedInUser?.userPhotoUrl !==''">
      <img [src]="loggedInUser?.userPhotoUrl" [alt]="loggedInUser?.userName || 'user'">
    </ng-container>
    <ng-container *ngIf="loggedInUser?.userPhotoUrl ==''">
      <img src="/assets/image/avtar.jpeg" [alt]="loggedInUser?.userName || 'user'">
    </ng-container>
  </button>
  <div class="setting__box" *ngIf="showDropdown">
    <div class="setting__item" [routerLink]="['/profile']">Profile</div>
    <div class="setting__item" (click)="logout()">Logout</div>
  </div>
</div>

